@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

/* 기본 서식 */

:root{
  --m_bg_color:#fff;
  --m_font:'Noto Sans KR';
  --f_size_base:12px;
  --f_size1:14px;
  --f_size2:16px;
  --f_color1:#333;
  --s_color01:#215499;
  --s_color02:#042653;
  --s_color03:#2986a7;
  --s_color04:#ccc;
  --s_color05:#ededed;
}

body{
  font-family: var(--m_font), '맑은 고딕', sans-serif;
  font-size:var(--f_size_base);
  color:var(--f_color1);
  background:var(--m_bg_color);
  overflow-x: hidden;
}

a{
  color:var(--f_color1);
  font-size:var(--f_size_base);
  text-decoration:none;
}